@import "./styles/base";

$input-focus-border: #262d3b;
$input-text-color: black;
$label-text-color: #c4c4c4;
$input-padding: 12px;
$header-font-properties: 30px, $font-stack, bold;
$border-properties: 11px, transparent, 1px;

@mixin border($radius, $color, $width) {
  border: {
    width: $width;
    radius: $radius;
    color: $color;
  }
}

@mixin header($size, $family, $weight) {
  font: {
    size: $size;
    family: $family;
    weight: $weight;
  }
}

//for the top in payment

.top {
  background-color: $primary-color;
  .total-price {
    color: #f7b71e;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: {
      block: 18vw 6vw;
      top: 18vw;
      bottom: 6vw;
    }
    h2 {
      font-weight: 300;
    }
  }

  .mask {
    height: 40px;
    background-color: #fff;
    border-top-right-radius: 10vw;
    .triangle {
      width: 0;
      height: 0;
      margin-left: 12vw;
      border: {
        left: 20px solid transparent;
        right: 20px solid transparent;
        top: 20px solid $primary-color;
      }
    }
  }
}

//for the form

.Form {
  max-width: 400px;
  margin: auto;

  .link-back {
    //needs a smaller margin bottom when we remove the nav at the bottom
    margin-bottom: 25vw;
    text-align: center;
    a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      p {
        margin: 0;
      }
      .back-arrow-dark {
        transform: scaleX(-1);
        height: 20px;
      }
    }
  }
}

form {
  padding: 1rem 3rem;

  p {
    margin: {
      block: -1.5em 0em;
      top: -1.5em;
      bottom: 0em;
    }
    font-size: 13px;
    margin-left: 14px;
    color: red;
  }

  h1 {
    text-align: center;
    margin: {
      block: 0px 16px;
      top: 0px;
      bottom: 16px;
    }
    @include header($header-font-properties...);
  }

  div {
    margin-bottom: 3vh;
    display: grid;
  }

  div > * {
    grid-area: 1/1;
  }

  .expirationDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;

    input {
      width: 15vw;
      margin-bottom: 0vw;
    }

    .small-div {
      display: flex;
      flex-direction: column;
    }
  }

  input,
  select {
    outline: none;
    background: #f4f4f4;
    margin-top: 4vw;
    @include border($border-properties...);
  }

  label {
    place-self: center start;
    pointer-events: none;
    color: $label-text-color;
    transform-origin: 0 100%;
    transform: translate(10px, 0);
  }

  input[type="text"],
  input[type="tel"],
  select {
    color: $input-text-color;
    padding: $input-padding;
    font-size: 16px;

    // Pseudo-classes / states
    &:focus {
      border-color: $input-focus-border;
    }

    &:not(:placeholder-shown) + label {
      transform: translate(0, -130%) scale(0.95);
      transition: 0.2s;
    }
  }

  label {
    will-change: transform, opacity;
  }

  .submit {
    appearance: none;
    background-color: #f7b71e;
    border: {
      color: transparent;
      radius: 47px;
    }
    color: white;
    font-size: 30px;
    padding: calc(#{$input-padding}/ 2);
    margin: 0;
    cursor: pointer;

    &:hover {
      background-color: #ffffff;
      border: 2px solid #f0d172;
      color: #f0d172;
      transition: 0.2s;
    }
  }
}

/*------------------------------MEDIAQUERY 500px-----------------------*/

@media screen and (min-width: 500px) {
  .Form {
    max-width: 300px;
    margin-top: 2vh;

    form {
      padding: 0;

      input,
      select {
        margin-top: 2vw;
      }

      .submit {
        margin-top: 0;
      }

      .expirationDate .small-div div input {
        width: 11vw;
      }
    }
  }
}

/*------------------------------MEDIAQUERY 650px-----------------------*/

@media screen and (min-width: 650px) {
  .top {
    .total-price {
      padding-top: 12vw;
    }
  }
  .Form {
    form {
      .expirationDate .small-div div input {
        width: 8vw;
      }
    }
  }
}

/*------------------------------MEDIAQUERY 900px-----------------------*/

@media screen and (min-width: 900px) {
  .Form {
    form {
      .expirationDate .small-div {
        margin-bottom: 1vw;
        div input {
          width: 6vw;
        }
      }
      p {
        margin-top: -2em;
      }
    }
  }
}

/*------------------------------MEDIAQUERY 1200px-----------------------*/

@media screen and (min-width: 1200px) {
  .Form {
    form {
      .expirationDate .small-div div input {
        width: 5vw;
      }
      input,
      select {
        margin-top: 1.2vw;
      }
      input[type="text"],
      input[type="tel"],
      select {
        padding-top: 1.2vw;
      }
    }
  }
}

/*------------------------------MEDIAQUERY 1400px-----------------------*/

@media screen and (min-width: 1400px) {
  .Form {
    form {
      .expirationDate .small-div div input {
        width: 4vw;
      }
    }
  }
}
