@import "./styles/base";

$input-focus-border: blue;
$input-text-color: #c4c4c4;
$input-padding: 12px;
$header-font-properties: 30px, $font-stack, bold;
$border-properties: 10px, #262d3b, 0px;

@mixin border($radius, $color, $width) {
  border: {
    width: $width;
    radius: $radius;
    color: $color;
  }
}

@mixin header($size, $family, $weight) {
  font: {
    size: $size;
    family: $family;
    weight: $weight;
  }
}
.paym {
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
.formbox {
  position: absolute;
  margin: 0 auto;
  height: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  // margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-top-left-radius: 10vw;
  border-top-right-radius: 10vw;
  padding: 2vw 5vw;
  overflow: auto;
  font-size: 20px;
  h1 {
    font-size: 5.5vw;
    text-align: left;
  }
}

.Form {
  max-width: 400px;
  margin: auto;
}
.submit {
  height: 5.5vw;
}
form {
  padding: 1rem 3rem;

  p {
    margin-block-start: -1em;
    margin-block-end: 0em;
    font-size: 2vw;
    margin-left: 14px;
    color: red;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
    @include header($header-font-properties...);
  }

  div {
    margin-bottom: 1vh;
    display: grid;
  }
  div > * {
    grid-area: 1/1;
  }
  .expirationDate {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // margin-bottom: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1vw;

    input {
      // width: 20vw;
      margin-bottom: 0vw;
    }

    .small-div {
      // display: flex;
      // flex-direction: column;
      grid-column: 2;
    }
    .small-div1 {
      // display: flex;
      // flex-direction: column;
      input {
        // width: 30vw;
      }
    }
  }

  input,
  select {
    outline: none;
    background: #f4f4f4;
    margin-top: 0vw;
    @include border($border-properties...);
    height: 5.5vw;
    font-size: 3vw;
  }

  label {
    place-self: center start;
    pointer-events: none;
    color: $input-text-color;
    transform-origin: 0 100%;
    transform: translate(10px, 0);
    font-size: 3vw;
  }

  input[type="text"],
  input[type="tel"],
  select {
    color: $input-text-color;
    padding: $input-padding;

    // Pseudo-classes / states
    &:focus {
      border-color: $input-focus-border;
    }

    &:not(:placeholder-shown) + label {
      transform: translate(0, -130%) scale(0.95);
      transition: 0.2s;
      font-size: 2vw;
    }
  }

  label {
    will-change: transform, opacity;
  }

  .submit {
    appearance: none;
    background-color: #f0d172;
    border-color: transparent;
    color: white;
    font-size: 3.5vw;
    border-radius: 30px;
    // padding: calc(#{$input-padding}/ 2);
    margin: 0 0 0 0;
    cursor: pointer;

    &:hover {
      background-color: #ffffff;
      border: 2px solid #f0d172;
      color: #f0d172;
      transition: 0.2s;
    }
  }
  .continue {
    font-size: 3.5vw;
  }
}

/*------------------------------MEDIAQUERY 500px-----------------------*/

@media screen and (min-width: 500px) {
  .Form {
    max-width: 300px;
    margin-top: 8vh;

    form {
      padding: 0;
      input,
      select {
        margin-top: 2vw;
      }
      .expirationDate .small-div div input {
        width: 30vw;
      }
      .expirationDate .small-div1 div input {
        width: 30vw;
      }
    }
  }
}

/*------------------------------MEDIAQUERY 650px-----------------------*/

@media screen and (min-width: 650px) {
  .Form {
    form {
      .expirationDate .small-div div input {
        // width: 8vw;
      }
      .expirationDate .small-div1 div input {
        // width: 8vw;
      }
    }
  }
}

/*------------------------------MEDIAQUERY 900px-----------------------*/

@media screen and (min-width: 900px) {
  .formbox {
    padding: 5vw 10vw;
    height: 50%;
  }
  .Form {
    form {
      input,
      select {
        margin-top: 1vw;
      }
      .expirationDate .small-div div input {
        width: auto;
      }
      .expirationDate .small-div1 div input {
        width: auto;
      }
    }
  }
}

/*------------------------------MEDIAQUERY IPHONE-----------------------*/
@media screen and (max-width: 499px) {
  .expirationDate .small-div input {
    width: 20vw;
  }
  .expirationDate .small-div1 input {
    width: 30vw;
  }
}
@media screen and (max-width: 499px) {
  .expirationDate .small-div1 input {
    width: 25vw;
  }
}
