@import "./styles/base";

// Header

.Header {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;
}
.Header {
  * {
    align-self: center;
  }
  h1 {
    margin-left: 50px;
    font: 100% $font-home-page-title-stack;
    font-size: 7em;
    margin-top: 20px;
  }
  .CartNotifications {
    position: absolute;
    right: 50px;
    top: 15px;
    cursor: pointer;
  }
}

// CartNotifications

.CartNotifications {
  .logo-dark {
    width: 120px;
    height: 131px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: end;
    align-items: center;
    flex-direction: column;
    fill: black;
    z-index: 10;
  }
  h1 {
    z-index: 100;
    top: 0;
    position: absolute;
    margin-top: 50px;

    color: $header-background-color;
    align-self: flex-end;
    text-align: center;
    right: 10px;
    font-size: 3em;
    width: 100%;
  }
}
