@import "./styles/form";
@import "./styles/shop";
@import "./styles/home";
@import "./styles/header";
@import "./styles/base";
@import "./styles/cart";
@import "./styles/message";

a {
  color: inherit;
  background-color: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: $header-background-color;
  background-image: linear-gradient($header-background-color 30%, black);
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 0.9fr;
  grid-template-rows: 0.7fr 2fr;
  .beerName {
    color: white;
    font-size: 60px;
    float: left;
    margin: 0;
    margin-left: 100px;
    margin-bottom: -10px;
  }
  .category {
    color: white;
    font-size: 30px;
    float: left;
    margin: 0;
    margin-left: 100px;
    line-height: 70px;
    margin-bottom: -10px;
  }
  .price {
    color: white;
    font-size: 30px;
    float: left;
    margin: 0;
    margin-left: 100px;
    line-height: 70px;
    margin-bottom: -10px;
  }
}

.box {
  position: absolute;
  margin: 0 auto;
  height: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding: 50px 100px;
  overflow: auto;
  font-size: 20px;
  h1 {
    font-size: 35px;
  }
}
.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.small-box {
  height: 15vw;
  width: 15vw;
  margin: 5vw 0;
  background-color: $background-opacity-color;
  border-radius: 30px;
  text-align: center;
  display: grid;

  p {
    align-self: center;
    color: $header-background-color;
    font-size: 15px;
    line-height: 35px;

    span {
      font-size: 40px;
    }
  }
}
.arrow {
  cursor: pointer;
  height: 50px;
  transform: scaleX(-1);
  margin-top: 75px;
  float: left;
  margin-left: 100px;
  margin-top: 30px;
}
.cart {
  height: 50px;
  float: right;
  margin-top: 75px;
  justify-self: end;
  margin-right: 100px;
}
.beerTop {
  display: flex;
  flex-flow: column;
  grid-row: 2;
}
.popup-img {
  grid-row: 2;
  grid-column: 2;
  height: 20vw;
  border-radius: 40px;
  z-index: 1;
  justify-self: center;
  margin-bottom: 85%;
}
.close-icon {
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 16px;
  padding: 5px;
}

// Router

.App {
  margin: 0;
  padding: 0;

  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
  }
  .navIcon {
    fill: black;
    margin-top: 23px;
  }
  .selected {
    color: $header-background-color;
    .navIcon {
      fill: $header-background-color;
    }
  }
}
.App {
  nav {
    ul {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
      box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.164);
    }
  }
}
.App {
  nav {
    li {
      text-decoration: none;
      list-style: none;
      text-transform: uppercase;
      font-weight: 400;
      align-self: center;
      a {
        display: flex;
        flex-direction: column;
        color: $header-background-color;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        color: black;
      }
    }
  }
}

.credit {
  text-align: center;
  width: 100%;
}

.togglebtn {
  position: fixed;
  bottom: 40px;
  cursor: pointer;
  z-index: 101;
  @include btn($third-color, white);
  border: black solid 1px;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 10px 10px;
  align-self: center;
  left: 50px;
}

// Mobile breack point
@media only screen and (max-width: 600px) {
  .togglebtn {
    display: none;
  }

  .App {
    .navIcon {
      margin-top: 10px;
      width: 10vw;
    }
  }
  a {
    font-size: 0.8em;
    margin: 0;
  }
  nav {
    position: fixed;
    bottom: 0;
    ul {
      bottom: 0;

      li {
        p {
          margin-bottom: 5px;
          margin-top: 0px;
        }
      }
    }
  }
  .Header {
    h1 {
      font-size: 15vw;
      margin-left: 5%;
    }
    .CartNotifications {
      right: 5%;
      top: 0;

      .logo-dark {
        width: 22vw;
        margin-right: 0%;
        margin-top: -5px;
      }
      h1 {
        margin-top: 48px;

        font-size: 10vw;
      }
    }
  }
}
// Mobile breack point horizontal
@media only screen and (max-width: 900px) and (min-width: 550px) {
  .togglebtn {
    display: none;
  }
  .Header {
    .CartNotifications {
      .logo-dark {
        margin-top: 15px;
      }
      h1 {
        margin-top: 65px;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 992px) and(max-height: 900px) {
  .togglebtn {
    bottom: 14px;
  }
  .App {
    .navIcon {
      margin-top: 5px;
      width: 35px;
    }
  }
  a {
    font-size: 0.8em;
    margin: 0;
  }
  nav {
    position: fixed;
    bottom: 0;
    ul {
      bottom: 0;

      li {
        p {
          margin-bottom: 2px;
          margin-top: -1px;
        }
      }
    }
  }
}
