/* Popup style */

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");
$font-stack: "Roboto", sans-serif;
// Colors

$header-background-color: #f6c83f;
$primary-color: #202632;
$secondery-color: #e5e5e5;
$third-color: #faf0e3;
$highlight-color: #e39c96;
$body-primary-color: black;
$body-secondary-color: white;

body {
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
}

.popup-box {
  position: fixed;
  background: white;
  width: 100%;
  height: 100vh;
  top: 124px;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 16px;
  padding: 5px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding-left: 15px;
  padding-right: 15px;
}

.BeersList {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #c4c4c4;
}
.cart-img {
  order: -1;
  align-self: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.beer-buttons {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-flow: row-reverse;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(196, 196, 196, 0.37);

  button {
    border: none;
    background-color: transparent;
    font-size: x-large;
  }
  input {
    border: none;
    background-color: transparent;
  }
}

.beer-buttons-add-remove {
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.beerListCenter {
  text-align: center;
}
